  <!-- Modal -->
  <div id="reviewModal" class="modalDiv">

    <!-- Modal content -->
    <div class="modalContent rounded w-50 p-4">
      <form id="createReviewForm">
        <input type="hidden" id="csrfTokenCreate" value="YOUR_CSRF_TOKEN_HERE">
        <input type="hidden" id="createReview_User_id" value="USER_ID_HERE">
        <input type="hidden" id="createReview_Book_id" value="BOOK_ID_HERE">
        <div class="mb-3">
          <label for="createReview_Title" class="form-label">Title for the review:</label>
          <input type="text" class="form-control" id="createReview_Title" placeholder="(optional)" aria-describedby="bookTitleHelp">
        </div>
        <div class="mb-3">
          <label for="createReview_Text" class="form-label"><strong>Write your opinion on the book:</strong></label>
          <textarea class="form-control" id="createReview_Text" rows="7" required></textarea>
        </div>
        <button type="button" id="createReviewBtn" class="btn btn-primary">Submit Review</button>
      </form>
      <div id="createReviewMessage"></div>
    </div>
  
  </div>

  <script>
    document.getElementById('createReviewBtn').addEventListener('click', async () => {
      const user_id = document.getElementById('createReview_User_id').value;
      const book_id = document.getElementById('createReview_Book_id').value;
      const rating = 0;
      const title = document.getElementById('createReview_Title').value;
      const text = document.getElementById('createReview_Text').value;
      const csrfToken = document.getElementById('csrfTokenCreate').value;
      const messageContainer = document.getElementById('createReviewMessage');
  
      try {
        const response = await fetch('/reviews', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'CSRF-Token': csrfToken,
          },
          body: JSON.stringify({ user: user_id, book: book_id, rating, title, text }),
        });
  
        if (!response.ok) {
          const errorDetails = await response.json();
          console.error('Error creating review:', errorDetails);
          throw new Error(errorDetails.message || 'Failed to create review.');
        }
  
        messageContainer.innerHTML = '<p class="text-success">Review created successfully!</p>';
      } catch (error) {
        messageContainer.innerHTML = `<p class="text-danger">${error.message}</p>`;
      }
    });
  </script>