  <!-- Modal -->
  <div id="reviewModal" class="modalDiv">

    <!-- Modal content -->
    <div class="modalContent rounded w-50 p-4">
      <form id="bookReviewForm">
        <div class="mb-3">
          <label for="bookTitle" class="form-label">Title for the review:</label>
          <input type="text" class="form-control" id="bookTitle" placeholder="(optional)" aria-describedby="bookTitleHelp">
        </div>
        <div class="mb-3">
          <label for="reviewText" class="form-label"><strong>Write your opinion on the book:</strong></label>
          <textarea class="form-control" id="reviewText" rows="7" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  
  </div>

  