<div class="container">
    <% users.forEach(user_info=> { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 w-50">
            <div class="d-flex align-items-center justify-content-between p-3 bg-light rounded shadow-sm w-100">
                <div class="d-flex align-items-center">
                    <img src="<%= user_info.user.image_url %>" class="rounded-circle" width="50" height="50" />
                    <div>
                        <a href="/profile/view/<%= user_info.user._id %>">
                            <h3 class="ms-3 mb-0">
                                <%= user_info.user.username %>
                            </h3>
                        </a>
                    </div>
                </div>
                <% if (typeof ownProfile=='undefined' ? false : ownProfile) { %>
                    <form class="form-delete">
                        <input type="hidden" id="id_connection" name="id" value="<%= user_info._id %>">
                        <button class="btn btn-danger" type="submit" id="deleteBtn"><i class='bx bx-trash'></i></button>
                    </form> 
                <% } %>
            </div>
        </div>
    <% }) %>
</div>
 