<div class="w-25 btn-group text-light">

    <button class="btn btn-sm btn-success" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class='bx bx-folder-plus' ></i>
    </button>
    <button class="btn btn-sm btn-danger" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class='bx bx-trash'></i>
    </button>
    
    <ul class="dropdown-menu dropdown-menu-end p-1">
        <div class="border-bottom">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Book
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                Series
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                Author
                </label>
            </div>
        </div>
        <div>
            <a href="#">List 1</a>
        </div>
    </ul>
</div>