<div class="container">
    <%- include('page_nav') %>
    <div id="gridView">
        <div class="row">
        <% books.forEach(book => { %>
            <div class="col-6 col-lg-4 col-xl-3">
                <img src="<%= book.image_url %>" class="img-md">
            </div>
        <% }) %>
        </div>  
    </div>
    
    <div id="listView" class="d-none">
        <% books.forEach(book => { %>
            <%- include('list_item', { isSimple: isSimple, book: book }) %>
        <% }) %>
    </div>
</div>
    