<div class="container">
    <a class="btn btn-primary" id="gridViewSelect" href="#"><i class='bx bx-grid-alt'></i></a>
    <a class="btn btn-primary" id="listViewSelect" href="#"><i class='bx bx-list-ul'></i></a>
    <% if (books.length > 0 ) { %>
        <div id="gridView">
            <div class="row">
            <% books.forEach(book => { %>
                <div class="card img-sm col-6 col-lg-4 col-xl-3 p-0">
                    <a href="/book/view/<%= book.book_id %>">
                        <img src="<%= book.image_url %>" style="width: 9rem; height: 12rem;">
                    </a>
                </div>
            <% }) %>
            </div>  
        </div>
    <% } else { %>
        <div class="alert alert-primary" role="alert">
            It seems you've reached the end of books
        </div>
    <% } %>
    <div id="listView" class="d-none">
        <% books.forEach(book => { %>
            <%- include('list_item', { isSimple: isSimple, book: book }) %>
        <% }) %>
    </div>
</div>
    