<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <div class="container-fluid gap-3 py-2">
    <a id="sidebarBtn" class="btn btn-primary d-none" href="#">
      <i class='bx bx-menu'></i>
    </a>
    <h1 class="text-light my-0">EntreLinhas</h1>
    <!-- Left links -->
    <ul class="navbar-nav me-auto gap-2">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item mt-2">
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="list">Romance</a>
            <a class="dropdown-item" href="list">Thriller</a>
            <a class="dropdown-item" href="list">Non-fiction</a>
          </div>
        </div>
      </li>
    </ul>
    <!-- Left links -->
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!-- Right elements -->
    <div class="d-flex gap-3 me-2">
      
      <!-- Avatar -->
      <div class="dropdown">
        <a class="dropdown-toggle icon-container" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="icon-sm rounded-circle"
            alt="Black and White Portrait of a Man"
            loading="lazy"
            
          />
        </a>
        <div class="dropdown-menu right-aligned" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="profile">My profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
    <!-- Right elements -->
  </div>
</nav>  