<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <div class="container-fluid gap-3 py-2">
    <a id="sidebarBtn" class="btn btn-primary d-none" href="#">
      <i class='bx bx-menu'></i>
    </a>
    <h1 class="text-light my-0">EntreLinhas</h1>
    <ul class="navbar-nav me-auto gap-2">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item mt-2">
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Explore
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Mystery, Thriller & Crime</a></li>
            <li><a class="dropdown-item" href="#">Fantasy & Paranormal</a></li>
            <li><a class="dropdown-item" href="#">History & Biography</a></li>
            <li><a class="dropdown-item" href="#">Comics & Graphic</a></li>
            <li><a class="dropdown-item" href="#">Young Adult</a></li>
            <li><a class="dropdown-item" href="#">Children</a></li>
            <li><a class="dropdown-item" href="#">Romance</a></li>
            <li><a class="dropdown-item" href="#">Poetry</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="d-flex gap-3 me-2">
      
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="icon-sm rounded-circle"
            alt="Black and White Portrait of a Man"
            loading="lazy"
            
          />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="profile">My profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>  