<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <div class="container-fluid gap-3 py-2">
    <a id="sidebarBtn" class="btn btn-primary d-none" href="#">
      <i class='bx bx-menu'></i>
    </a>
    <h1 class="text-light my-0">EntreLinhas</h1>
    <ul class="navbar-nav me-auto gap-2">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item mt-2">
        <div class="dropdown">
          <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Explore
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/genre/view/Mystery, Thriller & Crime">Mystery, Thriller & Crime</a></li>
            <li><a class="dropdown-item" href="/genre/view/Fantasy & Paranormal">Fantasy & Paranormal</a></li>
            <li><a class="dropdown-item" href="/genre/view/History & Biography">History & Biography</a></li>
            <li><a class="dropdown-item" href="/genre/view/Comics & Graphic">Comics & Graphic</a></li>
            <li><a class="dropdown-item" href="/genre/view/Young Adult">Young Adult</a></li>
            <li><a class="dropdown-item" href="/genre/view/Children">Children</a></li>
            <li><a class="dropdown-item" href="/genre/view/Romance">Romance</a></li>
            <li><a class="dropdown-item" href="/genre/view/Poetry">Poetry</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <form class="d-flex form-search" action="/search" method="GET">
      <input id="navSearchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="d-flex gap-3 me-2">
      
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="icon-sm rounded-circle"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="/profile/view/<%= user %>">My profile</a></li>
          <li>
            <form class="form-logout" action="/login/logout" method="GET">
              <button type="submit" class="dropdown-item">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        async function handleLogout(event) {
            event.preventDefault();
            const form = event.target;
    
            try {
                const response = await fetch(form.action, {
                    method: form.method,
                    headers: { "Content-Type": "application/json" },
                });
    
                window.location.href = "/login";
            } catch (error) {
                console.error("Erro ao enviar formulário:", error);
            }
        }

        async function handleSearch(event) {
            event.preventDefault();

            const form = event.target;
            const searchInput = document.getElementById('navSearchInput').value.trim();

            let url;
            if (searchInput) {
                url = `${form.action}?field=${searchInput}`;
            } else {
              url = form.action;
            }
            
            window.location.replace(url);
        }
    
        document.querySelector(".form-logout").addEventListener("submit", (event) => handleLogout(event));
        document.querySelector(".form-search").addEventListener("submit", (event) => handleSearch(event));
    });
  </script>  
</nav>  