<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a id="sidebarBtn" class="btn btn-primary d-none" href="#">Bar</a>
      <h1>EntreLinhas</h1>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Explore
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Romance</a>
              <a class="dropdown-item" href="#">Thriller</a>
              <a class="dropdown-item" href="#">Non-fiction</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- Left links -->
      
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!-- Right elements -->
    <div class="d-flex gap-3 me-2">
      <!-- Notifications -->
      <div class="dropdown">
        <a class="dropdown-toggle icon-container" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='bx bxs-bell bx-sm'></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <div class="dropdown-menu right-aligned" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">1</a>
          <a class="dropdown-item" href="#">2</a>
          <a class="dropdown-item" href="#">3</a>
        </div>
      </div>
      
      <!-- Avatar -->
      <div class="dropdown">
        <a class="dropdown-toggle icon-container" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <div class="dropdown-menu right-aligned" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">My profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
    <!-- Right elements -->
  </div>
</nav>  