<div class="page-nav">
    <a id="gridViewSelect" class="btn btn-primary" href="#"><i class='bx bxs-grid-alt'></i></a>
    <a id="listViewSelect" class="btn btn-primary" href="#"><i class='bx bx-list-ul'></i></a>
    <div class="container-fluid d-inline-flex justify-content-between">
        <p class="text-muted">Page 1 of 458</p>
        <div class="d-inline-flex w-auto">
            <a class="btn btn-primary" href="#"><i class='bx bx-chevrons-left' ></i></a>
            <a class="btn btn-primary" href="#"><i class='bx bx-chevron-left'></i></a>
            <a class="btn btn-primary" href="#">1</a>
            <a class="btn btn-primary" href="#"><i class='bx bx-chevron-right'></i></a>
            <a class="btn btn-primary" href="#"><i class='bx bx-chevrons-right'></i></a>
        </div>
    </div>
</div>