<form id="ratingForm" action="/submit-rating" method="POST">
    <div id="starContainer" >
        <i class='d-inline bx bx-star' data-value="1"></i>
        <i class='d-inline bx bx-star' data-value="2"></i>
        <i class='d-inline bx bx-star' data-value="3"></i>
        <i class='d-inline bx bx-star' data-value="4"></i>
        <i class='d-inline bx bx-star' data-value="5"></i>
    </div>
    <input type="hidden" name="rating" id="ratingInput" value="0">
</form>