<div class="row border-top border-bottom">
    <div class="col-2 d-flex flex-column align-items-center gap-2 pt-4 bg-light rounded border">
        <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle img-fluid icon-md"
            alt="Black and White Portrait of a Man"
            loading="lazy"
        />
        <h5>Reviewer</h5>
        <a href="#" class="btn btn-primary">Follow</a>
    </div>
    <div class="col-10 p-4">
        <div class="d-flex justify-content-between p-2">
            <div class="rating-display">
            <%- include('rating_display') %>
            </div>
            <i>January 1, 2025</i>
        </div>
        <div class="collapsable">
        <p class="mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum
            tincidunt libero eu sollicitudin. Maecenas sollicitudin, dolor id laoreet ultrices,
            diam urna ornare nibh, ac auctor sem justo non diam. Sed sed gravida tellus.
            Suspendisse potenti. Nulla tincidunt blandit sodales. Phasellus tellus lorem,
            condimentum ac enim egestas, consectetur efficitur dui. Aenean et accumsan sem.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis risus
            magna, a placerat arcu tincidunt luctus. In rutrum mi pulvinar, pretium ligula at,
            consectetur eros. Mauris et dignissim massa, in tempor purus. Proin lorem dui,
            condimentum ac fringilla sed, sollicitudin ornare metus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum
            tincidunt libero eu sollicitudin. Maecenas sollicitudin, dolor id laoreet ultrices,
            diam urna ornare nibh, ac auctor sem justo non diam. Sed sed gravida tellus.
            Suspendisse potenti. Nulla tincidunt blandit sodales. Phasellus tellus lorem,
            condimentum ac enim egestas, consectetur efficitur dui. Aenean et accumsan sem.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
        </div>
        <div class="collapse-menu">
            <a href="#" class="collapse-button">Show more</a>
        </div>
    </div>    
</div>