<div class="row border-top border-bottom">
    <div class="col-2 d-flex flex-column align-items-center gap-2 pt-4 bg-light rounded border">
        <img
            src="<%= review.user.image_url %>"
            class="rounded-circle img-fluid icon-md"
            alt="Black and White Portrait of a Man"
            loading="lazy"
        />
        <h5><%= review.user.username %></h5>
    </div>
    <div class="col-10 p-4">
        <%- include('review_content') %>
    </div>    
</div>