<div class="container d-flex flex-column gap-4">
    <% if (reviews.length > 0) { %>
        <% reviews.forEach(review => { %>
            <div class="d-flex border rounded">
                <div>
                    <a href="/book/view/<%= review.book.book_id %>">
                       <img src="<%= review.book.image_url %>" style="width: 12rem; height: 16rem;"/>
                    </a>
                </div>
                <div class="p-4 w-100">
                    <%- include('review_content', { review: review }) %>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div class="alert alert-primary m-0" role="alert">
            It seems you've reached the end of reviews
        </div>
    <% } %>
</div>
