<div class="d-flex justify-content-between p-2">
    <%- include('rating_display', { star_value: review.rating }) %>
    <i><%= review.formattedDate %></i>
</div>
<div class="collapsable">
<h4 class="mt-3"><%= review.title %></h4>
<p class="mt-3"><%= review.text %></p>
</div>
<div class="collapse-menu">
    <a href="#" class="collapse-button">Show more</a>
</div>
<script src="assets/js/collapsable.js"></script>