body{
  --sb-width: 0;
  --tab-info-width: 0;  
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}
body.sb-expanded{
  --sb-width: 250px;
}
body.tab-info{
  --tab-info-width: 300px;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
}
.sidebar{
  position: fixed;
  height: 100vh;
  padding: 1rem;
  width: 0;  
  overflow: hidden; 
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0; 
}
.sb-expanded .sidebar {
  width: var(--sb-width);
  opacity: 1; 
}
.sb-expanded .nav-id{
  display: none;
}
main{
  margin-left: 0;
  transition: margin-left 0.5s ease-in-out;
  background-color: #e1e7ec;
}
.sb-expanded main{
  margin-left: var(--sb-width);
} 

.progress{
  height: 1.5rem;
}
.d-inline-flex{
  width: 100%;
}
#dropdownMenuLink{
  text-decoration: none;
}
#profile-nav{
  height: 65px;
}

.icon-container {
  position: relative;
  display: inline-block; 
}

.icon-container .badge {
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translateY(-50%);
} 
.icon-sm{
  width: 3rem;
}
.icon-md{
  width: 7rem;
}
.icon-lg{
  width: 10rem;
}

.right-aligned {
  right: 0;
  left: auto;
}

.bxs-star {
  color: gold;
}
.bxs-star-half {
  color: gold;
}

#book-card{
  position: fixed;
  height: 100vh;
}

#book-info{
  margin-left: 320px;
}

#tabShelfInfo{
  position: fixed;
  height: 100vh;
  padding: 1rem;
  width: 200px;
}
#tabShelfContent{
  margin-left: 200px;
}

#tabDiv{
  margin-left: var(--tab-info-width);
  transition: margin-left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.modalDiv {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: aliceblue;
  margin: 7% auto; 
  border: 1px solid #888;
  max-height: 70vh; /* Set a maximum height for the modal content */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.activity{
  border: 1px solid #cdcdcd; 
}

#ratings .fixed-width{
  width: 0.1rem;
}


.collapsable.hidden {
  position: relative;
  overflow: hidden;
  height: 200px; /* Initial fixed height */
}

.collapsable.hidden::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Height of the fading effect */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

.collapsable.expanded {
  height: auto; /* Remove height restriction */
}

.collapsable.expanded::after {
  opacity: 0; /* Remove the fading effect */
}

.collapse-menu {
  text-align: center;
  margin-top: 10px;
}

.collapse-button {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-weight: bold;
}
.nav-link.custom.active{
  background-color: #e1e7ec;
  border-color: #e1e7ec;
}