<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>
<div id="content">
<main>
    
</main>
</div>
<script src="/assets/js/links.js"></script>
<script src="/assets/js/stars.js"></script>
</body>
</html>