<div id="sidebarNav" class="sidebar bg-white shadow">
<nav>
<ul>
    <li><a href="#">Reading</a></li>
    <li><a href="#">Read</a></li>
    <li><a href="#">Wishlist</a></li>
    <li>
    <span>Recently visited</span>
    <ul>
    <li><a href="#">Page 1</a></li>
    <li><a href="#">Page 2</a></li>
    <li><a href="#">Page 3</a></li>
    </ul>
    </li>
    <li>
    <span>Recent lists</span>
    <ul>
    <li><a href="#">List 1</a></li>
    <li><a href="#">List 2</a></li>
    <li><a href="#">List 3</a></li>
    <li><a href="#">See more...</a></li>
    </ul>
    </li>
</ul>
</nav>
</div>
