<div id="tabProfile" class="tab profile grey-bg p-5">
    <h2 class="mt-4">Recent</h2>
    <div class="container overflow-auto bg-light rounded shadow-sm p-3">
        <div class="row flex-row flex-nowrap">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="https://cdn.pixabay.com/photo/2022/10/22/13/41/paris-7539257_640.jpg" style="width: 18rem;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="https://cdn.pixabay.com/photo/2022/10/22/13/41/paris-7539257_640.jpg" style="width: 18rem;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="https://cdn.pixabay.com/photo/2022/10/22/13/41/paris-7539257_640.jpg" style="width: 18rem;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="https://cdn.pixabay.com/photo/2022/10/22/13/41/paris-7539257_640.jpg" style="width: 18rem;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="https://cdn.pixabay.com/photo/2022/10/22/13/41/paris-7539257_640.jpg" style="width: 18rem;">
            </div>
           <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <img src="https://cdn.pixabay.com/photo/2022/10/22/13/41/paris-7539257_640.jpg" style="width: 18rem;">
            </div>
        </div>
    </div>
    <%- include('../feed') %>
</div>