<div id="tabReviews" class="d-none tab reviews bg-white py-5">
    
</div>
<script>
  async function loadReviews() {
    const page = 1;
    const limit = 10;
    
    let url = '';
    let resultsContainer = document.querySelector("#tabReviews .container");
    const id = document.body.dataset.user;
    url = `/reviews/user/${id}`
    try {
      const query = new URLSearchParams({ page, limit, render: true });
      const response = await fetch(`${url}?${query}`, {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json',
        },
      });
      
      if (!response.ok) {
        console.log(response);
        throw new Error("Error loading reviews.");
      }
  
      const reviews = await response.json();
      resultsContainer.innerHTML = "";
  
      reviews.forEach(review => {
        const card = document.createElement("div");
        card.className = "w-100";
        card.innerHTML = ``;
        resultsContainer.appendChild(card);
      });
  
    } catch (error) {
      console.error(error);
      resultsContainer.innerHTML = `<p class="text-danger">Erro ao carregar reviews.</p>`;
    }
  }

  document.querySelector('[target-selector=".tab.reviews"]').addEventListener("click", () => {
    const tabSocial = document.getElementById("tabReviews");
  
    if (!tabSocial.dataset.loadedReviews) {
      tabSocial.dataset.loadedReviews = true;
      loadReviews();
    }
  });
</script>