<div id="tabShelf" class="tab shelf d-none">
    <div id="tabShelfInfo">
        <a class="d-block" href="#">All</a>
        <a class="d-block" href="#">Read</a>
        <a class="d-block" href="#">Reading</a>
        <a class="d-block" href="#">Want to read</a>
        <hr />
        <a class="d-block" href="#">List 1</a>
        <a class="d-block" href="#">List 2</a>
        <a class="d-block" href="#">List 3</a>
    </div>
    <div id="tabShelfContent">
        <%- include('../gallery') %>
    </div>
</div>