<div class="tab shelf info">
    <img
        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
        class="rounded-circle img-fluid"
        alt="Black and White Portrait of a Man"
        loading="lazy"
    />
    <h2>Username</h2>
    <a href="#" class="btn btn-primary">Follow</a>
    <p>N followers</p>
    <p>N following</p>
    <div class="stats">
        <a class="text-center">READ</a>
        <h5 class="text-center">100</h5>
    </div>
    <div class="stats">
        <a class="text-center">READING</a>
        <h5 class="text-center">100</h5>
    </div>
    <div class="stats">
        <a class="text-center">WISHLIST</a>
        <h5 class="text-center">100</h5>
    </div>
    <div class="stats">
        <a class="text-center">REVIEWS</a>
        <h5 class="text-center">100</h5>
    </div>
</div>