<div id="tabShelf" class="d-none tab shelf">
    <div id="tabShelfInfo" class="bg-white shadow">
        <a class="d-block" href="list">All</a>
        <a class="d-block" href="list">Read</a>
        <a class="d-block" href="list">Reading</a>
        <a class="d-block" href="list">Want to read</a>
        <hr />
        <a class="d-block" href="list">List 1</a>
        <a class="d-block" href="list">List 2</a>
        <a class="d-block" href="list">List 3</a>
    </div>
    <div id="tabShelfContent" class="bg-white">
        <%- include('../gallery') %>
    </div>
</div>