<div id="tabSocial" class="tab social d-none container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="d-flex align-items-center p-3 bg-light rounded shadow-sm">
                <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    alt="Black and White Portrait of a Man"
                    width="50"
                    height="50"
                />
                <a href="profile"><h3 class="ms-3 mb-0">Username</h3></a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="d-flex align-items-center p-3 bg-light rounded shadow-sm">
                <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    alt="Black and White Portrait of a Man"
                    width="50"
                    height="50"
                />
                <a href="profile"><h3 class="ms-3 mb-0">Username</h3></a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="d-flex align-items-center p-3 bg-light rounded shadow-sm">
                <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    alt="Black and White Portrait of a Man"
                    width="50"
                    height="50"
                />
                <a href="profile"><h3 class="ms-3 mb-0">Username</h3></a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="d-flex align-items-center p-3 bg-light rounded shadow-sm">
                <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    class="rounded-circle"
                    alt="Black and White Portrait of a Man"
                    width="50"
                    height="50"
                />
                <a href="profile"><h3 class="ms-3 mb-0">Username</h3></a>
            </div>
        </div>
    </div>
</div>