<div id="tabSocial" class="tab following d-none container"
    data-own-profile="<%= typeof ownProfile == undefined ? false : ownProfile %>">
    <div class="row">
        <!-- Script will add things here -->
    </div>
</div>
<div id="tabFollowers" class="tab followers d-none container"
    data-own-profile="<%= typeof ownProfile == undefined ? false : ownProfile %>">
    <div class="row">
        <!-- Script will add things here -->
    </div>
</div>

<script>
    async function loadConnections(getFollowers) {
        const page = 1;
        const limit = 10;

        let url = '';
        let query = null;
        let resultsContainer = null;
        let ownProfile = null;

        if (getFollowers) {
            resultsContainer = document.querySelector("#tabFollowers .row");
            const user = document.body.dataset.user;
            url = `/connections/followers/${user}`;
            ownProfile = document.querySelector("#tabFollowers").dataset.ownProfile;
        } else {
            resultsContainer = document.querySelector("#tabSocial .row");
            const follower = document.body.dataset.user;
            url = `/connections/user/${follower}`;
            ownProfile = document.querySelector("#tabSocial").dataset.ownProfile;
        }

        query = new URLSearchParams({ page, limit, render: true, ownProfile });

        try {
            const response = await fetch(`${url}?${query}`);

            if (!response.ok) {
                console.log(response);
                throw new Error("Error loading connections.");
            }

            const html = await response.text();
            resultsContainer.innerHTML = html;
        } catch (error) {
            console.error(error);
            resultsContainer.innerHTML = `<p class="text-danger">Error loading connections: ${error}.</p>`;
        }
    }

    async function loadDeleteScript() {
        document.querySelectorAll(".form-delete").forEach(form => {
            form.addEventListener("submit", async function (event) {
                event.preventDefault();
                
                const connectionId = this.querySelector("#id_connection").value;
                const url = `/connections/delete/${connectionId}`;
                console.log('URL:', url);
                try {
                    const response = await fetch(url, {
                        method: "DELETE",
                        headers: { "Content-Type": "application/json" },
                    });

                    if (!response.ok) {
                        console.log(response);
                        throw new Error("Error when trying to delete a connection.");
                    }

                    window.location.reload();
                } catch (error) {
                    console.error("Error in delete:", error);
                }
            });
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        
        loadConnections(false);
    
        loadConnections(true);
    
    });
</script>